/* Bendras stilius: */





/* Povilas stiliaus kodas: */

img.brand-logo{
    
    background: fixed;
    text-align: center;
    width: 33%;
    height: 200px;
}

.flag-menu img{
height: 15px;


}

/* Dominyka stiliaus kodas: */
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 100px;
}

.box{
    width: 40%;
    text-align: center;
    
}

.box img{
    /* border-radius: 0%; */
    width: 70%;
}

.box p{
    background-color: transparent;
}





/* Dmitrij stiliaus kodas: */

.flag-block {
    position: relative;
    text-align: center;
}
.flag-block h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px  white,
    0px 0px 10px  white,
    0px 0px 10px  white;
}





/* Redita stiliaus kodas: */

.main-image-block {
    text-align: center;
}

.main-image-wrapper {
    display: inline-block;
    width: 60%;
}

.main-image {
    background-image: url("../images/finland1.jpeg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    /* height: 100px; */
    border-radius: 50%;
    padding-top: 100%;
}